:root {
  font-size: 62.5%;
}

html,
body {
  font-family: 'Nunito', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  height: 100%;
  line-height: 1.6;
  color: $black;
}

section {
  margin-top: 0;
  margin-bottom: 2rem;
}
