/* Links
--------------------------------------------- */
a {
  color: $primary-invert;
}

a:hover {
  color: darken($primary-invert, 15%);
}

::selection {
  background: $primary;
  color: $primary-invert;
}
