@import url('https://fonts.googleapis.com/css?family=Nunito:400,800,900');

// Theme Colors
$primary: #00c6ff;
$primary-invert: #efefef;
$secondary: #0072ff;

// Standard Colors
$black: #111111;
$white: #efefef;
